body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
	margin-left: 5px;
	margin-right: 5px;
}

.logo {
	min-width: 100px;
	width: 15%;
}

.poster {
    width: 95%;
}

.box-home {
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	background-color: rgba(0,191,255,0.8);
}

.box-contact {
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	background-color: rgba(0,191,255,0.8);
}

.box-categorii {
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	background-color: rgba(0,191,255,0.8);
}

.box-teste {
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	background-color: rgba(0,191,255,0.8);
}

.send {
	margin-top: 15px;
	text-align: center;
}

.text-contact, .titlu-test {
	text-align: center;
}

.contact {
	text-align: center;
}

.input {
	width: 50%;
}

.home-title, .titlu-categorii {
	text-align: center;
}

.filme-recente {
	border-style: solid;
    border-width: medium;
	overflow: auto;
	margin-bottom: 1%;
	word-wrap: break-word;
}

.imagine {
	width: 20%;
	float: left;
}

.text {
	margin-top: 9%;
	width: 80%;
	float: right;
}

footer { 
	overflow: auto;
    display: block;
	border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
	margin-top: 10px;
	margin-bottom: 0px;
}

.text-footer {
	width: 95%;
	float: left;
	margin-left: 10px;
}

.top-imagine{
	position: relative;
}

.imagine-footer {
	position: absolute;
	margin-top: 15px;
	margin-right: 10px;
	right: 0px;
}

.facebook {
	position: absolute;
	top: 15%;
	right: 10px;
}

.meniu-s {
	position: relative;
}

.actori-imagine {
	float: right;
	min-width: 30px;
	width: 6%;
}

.actori-imagine:hover + .actori-text{
	display: block;
}

.actori-text {
	text-align: right;
	display: none;
	background: none;
	border: none;
}